@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    @apply min-h-full overflow-x-hidden antialiased select-none bg-zinc-50 dark:bg-zinc-950;
    -webkit-tap-highlight-color: transparent;
  }

  textarea, .prose {
    @apply select-text;
  }

  .prose {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  /* Hide bullets for task lists */
  .prose ul > li.task-list-item {
    list-style-type: none;
    @apply pl-0;
  }
  
  .prose .task-list-item input[type="checkbox"] {
    @apply mr-2;
  }
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}